
/* Global Selectors */
* {
    
    font-family: Arial, Helvetica, sans-serif;
       
}

/* Element selectors */
body {
    margin: 0;
    padding: 0;
    display: flexbox;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #3498db;
    color: #fff;
   
}

header h1 {
    display: inline-block;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;

}

main {
    display: flexbox;
}


/* Class Selectors */
/* my headshot selector */
.headshot {
    display: inline-block;
    /* position: relative; */
    top: 10px;
    width: 50px;
    height: 50px;

}

/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.container {
    display: flex;
    flex-wrap: wrap;

  }
  
  .justify-center {
    justify-content: center;

  } 

.column {
    display: flex;
    flex-direction: row;

}

/* columns */
.left-column {
    flex: 25%;
    font-size: x-large;
}

.right-column {
    flex: 75%;
}

/* rows */
.row {
    border-left: 2px gray solid;
}

/* box with each row */
.box {
    margin: 5px;
    position: relative;

}

.box ul {
    flex: 3;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: underline;
    align-items: center;

}

.label {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 12px;
    color: #fff;
    background-color: #3498db;
    padding: 5px;
}

/* mobile-first stack  */
@media screen and (max-width: 768px) {
    
    header {
        width: 60%;
    }

    .container {
        flex: 0 1 33%;
        max-width:75%;
    }
}
  
/* larger screens */
@media screen and (max-width: 992px) {

    header {
        width: 90%;
    }

    .container {
        max-width:90%;
    }

}