
/* Global Selectors */
* {
    font-family: Arial, Helvetica, sans-serif;     
}

/* Element selectors */
body {
    margin: 0;
    padding: 0;
    display: flexbox;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #3498db;
    color: #fff;
    flex-wrap: wrap;   
}

header h1 {
    display: inline-block;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;

}

main {
    display: flexbox;
}

/* Define the styles for the link when hovered */
.box a {
    display: inline-block; 
    transition: transform 0.5s ease-in-out; 
  }

.box a:hover {
    transform: scale(1.1); /* Increase the size of the link on hover */
  }


/* Class Selectors */
/* my headshot selector */
.headshot {
    display: inline-block;
    top: 10px;
    width: 50px;
    height: 50px;

}

/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.container {
    display: flex;
    flex-wrap: wrap;
  }
  
.justify-center {
    justify-content: center;
} 

.column {
    display: flex;  
}

/* define left and right columns */
.left-column {
    flex: 25%;
    font-size: x-large;
}

.right-column {
    flex: 75%;
}

/* define the work section */
.work {

    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 500px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}

/* rows */
.row {
    border-left: 2px gray solid;
}

.row-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

/* box with each row */
.box {
    margin: 5px;
    position: relative;

}

/* define the un-ordered list for the box */
.box ul {
    flex: 3;
    display: flex; 
    justify-content: space-around;
    list-style: none;
    text-decoration: underline;
    align-items: center;
    font-weight: bold;

}

.label {

    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    padding: 5px;

    }

/* mobile-first stack  */
@media screen and (max-width: 768px) {
    
    header {
        width: 100%;
        justify-content: center;    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .right-column {
        flex: 75%;
        max-width: 88%;
    }

    /* remove left border */
    .row {
        border-left: 0;
    }

    .box ul {
        display: inline-block;

    }

}
  
/* larger screens */
@media screen and (min-width: 992px) {

    header {
        width: 90%;
    }

    .container {
        max-width:90%;
    }

}


.card-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    outline: 2px solid white;
    position: relative;
    margin: -1.15rem 0 1.5rem 0;
    border-radius: 2rem;
    
  }